@* <style>
    .section-wrapper {
        border-radius: 4rem;
    }

    .value-wrapper {
        width: 50%;
        border: 1px solid #cccccc;
        border-radius: 6rem;
        padding: 2%;
        text-align: center;
        font-size: 2.5rem;
        font-weight: bold;
    }

    .value-title {
        font-size: 1.5rem;
        font-weight: 500;
    }

    .loan-calculated-container {
        border: 1px solid #cccccc;
        border-radius: 6rem;
        padding: 0% 7%;
    }

    .loan-calculated-title {
        font-size: 1.3rem;
        font-weight: 500;
        text-align: center;
    }

    .loan-calculated-value {
        font-size: 2.5rem;
        font-weight: bold;
        text-align: center;
    }
</style> *@

<div class="section-wrapper" style="width: 35%; padding: 1% 1%; margin: 1% 0%; @_proposalSectionWrapperBorderStyle;">
    <div class="d-flex flex-column" style="width: 100%; height: 100%;">
        <div style="width: 100%; height: 100%;">
            <MudForm @ref="@_form"
                     Model="@_proposalDto"
                     Class="align-self-center"
                     Style="width: 100%; height: 100%;"
                     Validation="@(_proposalValidator!.ValidateValues)">
                <MudTabs Elevation="0"
                         Class=""
                         Style="width: 100%; height: 100%;"
                         Centered="true"
                         Rounded="true"
                         ApplyEffectsToContainer="true"
                         PanelClass="pa-6">
                    <MudTabPanel Text="Wstępna weryfikacja" Style="width: 100%; height: 100%;" Disabled=_disabled>
                        <MudTextField @bind-Value="_proposalDto!.Name"
                                      For="@(() => _proposalDto!.Name)"
                                      Immediate="true"
                                      Label="Imię"
                                      Disabled=_disabled />

                        <MudTextField @bind-Value="_proposalDto.Surname"
                                      For="@(() => _proposalDto.Surname)"
                                      Immediate="true"
                                      Label="Nazwisko"
                                      Disabled=_disabled />

                        <MudTextField @bind-Value="_proposalDto.PhoneNumber"
                                      For="@(() => _proposalDto.PhoneNumber)"
                                      Mask="@(new PatternMask("000 000 000"))"
                                      Immediate="true"
                                      Label="Telefon komórkowy"
                                      Adornment="Adornment.Start"
                                      AdornmentText="+48"
                                      Disabled=_disabled />

                        <MudTextField @bind-Value="_proposalDto.Email"
                                      For="@(() => _proposalDto.Email)"
                                      Immediate="true"
                                      Label="Email"
                                      Disabled=_disabled />

                        <MudTextField @bind-Value="_proposalDto.PersonalNumber"
                                      For="@(() => _proposalDto.PersonalNumber)"
                                      Mask="@(new PatternMask("00000000000"))"
                                      Immediate="true"
                                      Label="PESEL"
                                      Disabled=_disabled />
                    </MudTabPanel>
                    <MudTabPanel Text="Źródło dochodu" Class="d-flex justify-center" Style="width: 100%; height: 100%;" Disabled=_disabled>
                        <MudTextField @bind-Value="_proposalDto!.MonthlyIncome"
                                      For="@(() => _proposalDto!.MonthlyIncome)"
                                      Adornment="Adornment.End"
                                      AdornmentText="zł"
                                      Immediate="true"
                                      Label="Dochody miesięczne na rękę"
                                      Style="width: 50%;"
                                      Disabled=_disabled />
                        <MudTextField @bind-Value="_proposalDto!.MonthlyExpenses"
                                      For="@(() => _proposalDto!.MonthlyExpenses)"
                                      Adornment="Adornment.End"
                                      AdornmentText="zł"
                                      Immediate="true"
                                      Label="Wydatki miesięczne"
                                      Style="width: 50%;"
                                      Disabled=_disabled />
                    </MudTabPanel>
                    <MudTabPanel Text="Metoda wypłaty pożyczki" Style="width: 100%; height: 100%;" Disabled=_disabled>
                        <MudTextField @bind-Value="_proposalDto!.CCNumber"
                                      For="@(() => _proposalDto!.CCNumber)"
                                      Mask="@(new PatternMask("00000000000000000000000000"))"
                                      Immediate="true"
                                      Label="Numer konta"
                                      Disabled=_disabled />
                    </MudTabPanel>
                </MudTabs>
            </MudForm>
        </div>
        <div class="d-flex justify-space-between" style="width: 100%; height: 10%; padding: 0% 3%;">
            <MudButton OnClick="@CorrectLoan"
                       Style="font-size: 1rem; color: white; padding: 2% 4%; border-radius: 10px;"
                       Variant="Variant.Filled" Color="Color.Primary"
                       Disabled=_disabled>
                Popraw pożyczkę
            </MudButton>
            <MudButton OnClick="@(async () => await Submit())"
                       Style="font-size: 1rem; color: white; padding: 2% 4%; border-radius: 10px;"
                       Variant="Variant.Filled" Color="Color.Primary"
                       Disabled=_disabled>
                Złóż wniosek
            </MudButton>
        </div>
    </div>
</div>