@page "/Proposal/"

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    th {
        background-color: #f2f2f2;
    }
</style>

<div class="d-flex justify-center">
    <table style="width: 80%;">
        <thead>
            <tr>
                <th>Numer raty</th>
                <th>Kapitał</th>
                <th>Odsetki</th>
                <th>Prowizja</th>
                <th>Dzień spłaty</th>
                <th>Suma</th>
            </tr>
        </thead>
        <tbody>
            @if (_loan.InstallmentDtoList is not null)
            {
                foreach (var i in _loan.InstallmentDtoList)
                {
                    <tr>
                        <td>@i.Number</td>
                        <td>@i.Principal.ToString("N2") zł</td>
                        <td>@i.Interest.ToString("N2") zł</td>
                        <td>@i.Fee.ToString("N2") zł</td>
                        <td>@i.PaymentDate.ToString("dd.MM.yyyy")</td>
                        <td>@i.Total.ToString("N2") zł</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>