@page "/login/"

<div class="d-flex justify-center" style="width: 100%;">
    <div style="width: 500px;">
        <EditForm Model="@_model" OnValidSubmit="OnValidSubmit" style="width: 100%;">
            <DataAnnotationsValidator />
            <MudCard>
                <MudCardContent>
                    <MudTextField @bind-Value="_model.PersonalNumber"
                                  Label="PESEL"
                                  For="@(() => _model.PersonalNumber)"
                                  Mask="@(new PatternMask("00000000000"))" />
                    <MudTextField @bind-Value="_model.Email"
                                  Label="Adres email"
                                  For="@(() => _model.Email)" />
                    <MudTextField @bind-Value="_model.Password"
                                  Label="Hasło" Class="mt-3"
                                  For="@(() => _model.Password)" InputType="InputType.Password" />
                </MudCardContent>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Zaloguj się</MudButton>
                </MudCardActions>
            </MudCard>
        </EditForm>
    </div>
</div>